[Unit]
Description=Report system status to Home Assistant via MQTT
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=ubuntu-mqtt2ha-reporter
Group=ubuntu-mqtt2ha-reporter
Type=simple
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/ubuntu-mqtt2ha-reporter
WorkingDirectory=/etc/ubuntu-mqtt2ha-reporter
KillMode=process
Restart=on-failure
RestartSec=10s
RestartSteps=5
RestartMaxDelaySec=60s
